pwd.xsd

<?xml version="1.0"?>

<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="passwords">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="password" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="username" type="xs:string"/>
							<xs:element name="login_url" type="xs:string"/>
							<xs:element name="change_url" type="xs:string"/>
							<xs:element name="length" type="xs:integer"/>
							<xs:element name="digits" type="xs:string"/>
							<xs:element name="description"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

